{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello</h1>
    {% for post in posts %}
        <h2>
            <a href="{{path('app_post', { slug: post.slug })}}">
                {{post.title}}
            </a>
        </h2>
        <p><strong>{{post.category.name}}</strong></p>
    {% endfor %}

</div>
{% endblock %}
