{% extends 'base.html.twig' %}

{% block title %}{{post.title}}{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h2>
        <a href="{{path('app_post', { slug: post.slug })}}">
            {{post.title}}
        </a>
    </h2>
    <p><strong>{{post.category.name}}</strong></p>
</div>
{% endblock %}
